<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JPowerAdmin</display-name>
  <welcome-file-list>
    <welcome-file>/members/zones.jsf</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <context-param>
    <param-name>javax.faces.FACELETS_DEVELOPMENT</param-name>
    <param-value>false</param-value>
  </context-param>

  <login-config>
    
    <auth-method>FORM</auth-method>
    <realm-name>jpoweradmin</realm-name>
    
    <form-login-config>
      <form-login-page>/login.jsf</form-login-page>
      <form-error-page>/loginerror.jsf</form-error-page>
    </form-login-config>
  </login-config>
  
  <security-constraint>
    <display-name>Authenticated User Pages</display-name>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <description></description>
      <url-pattern>/members/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>HEAD</http-method>
      <http-method>PUT</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
      <http-method>DELETE</http-method>
      <http-method>CONNECT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description></description>
      <role-name>USER</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  
  <security-constraint>
    <display-name>Authenticated User Pages ROOT</display-name>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <description>Protected access by ROOT accounts</description>
      <url-pattern>/members/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
      <http-method>HEAD</http-method>
      <http-method>PUT</http-method>
      <http-method>OPTIONS</http-method>
      <http-method>TRACE</http-method>
      <http-method>DELETE</http-method>
      <http-method>CONNECT</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description></description>
      <role-name>ROOT</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
    
  <!-- limit access to .xhtml -->
  <security-constraint>
    <display-name>Restrict raw XHTML Documents</display-name>
    <web-resource-collection>
        <web-resource-name>XHTML</web-resource-name>
        <url-pattern>*.xhtml</url-pattern>
    </web-resource-collection>
    <auth-constraint />
</security-constraint>
  
  <security-role>
    <role-name>USER</role-name>
  </security-role>
  
  <security-role>
    <role-name>ROOT</role-name>
  </security-role>
  
  
</web-app>
